/**
 *  Style
 */

body * { font-family:'PT Sans', sans-serif; }

h1 {
    font-weight: 500;
    line-height: 1.2;
}

a { color: rgba(8, 72, 135, 1) !important; }

a:hover,
a:focus { color: rgba(8, 72, 135, 1) !important; }

ul, ol { margin-left: 1.25rem; }

.breadcrumbs li:not(:last-child)::after {
    color: rgba(157, 141, 241, 1);
}

.fancy {
    font-family: Courgette, serif;
    font-weight: normal;
}

.callout { border: none; }

.none { background-color: transparent; }
.rifle-green { background-color: rgba(65, 70, 61, 1); }
.bright-lavender { background-color: rgba(157, 141, 241, 1); }
.pale-cornflower-blue { background-color: rgba(184, 205, 248, 1); }
.pale-robin-egg-blue { background-color: rgba(149, 242, 217, 1); }
.medium-spring-green { background-color: rgba(28, 254, 186, 1); }

