/* Coolors Exported Palette - coolors.co/7a918d-93b1a7-99c2a2-c5edac-dbfeb8 */

$dolphin-gray: rgba(122, 145, 141, 1);
$cadet-gray: rgba(147, 177, 167, 1);
$eton-blue: rgba(153, 194, 162, 1);
$tea-green: rgba(197, 237, 172, 1);

$platinum: rgba(224, 224, 226, 1);
$pearl-aqua: rgba(129, 210, 199, 1);
$pastel-blue: rgba(181, 186, 208, 1);
$shadow-blue: rgba(115, 137, 174, 1);
$queen-blue: rgba(65, 103, 136, 1);
