/* Coolors Exported Palette - coolors.co/e0e0e2-81d2c7-b5bad0-7389ae-416788 */

/* HSL */
$color1: hsla(240%, 3%, 88%, 1);
$color2: hsla(172%, 47%, 66%, 1);
$color3: hsla(229%, 22%, 76%, 1);
$color4: hsla(218%, 27%, 57%, 1);
$color5: hsla(208%, 35%, 39%, 1);

/* RGB */
$color1: rgba(224, 224, 226, 1);
$color2: rgba(129, 210, 199, 1);
$color3: rgba(181, 186, 208, 1);
$color4: rgba(115, 137, 174, 1);
$color5: rgba(65, 103, 136, 1);