/**
 *  Coolors Exported Palette
 *  coolors.co
 */

$dolphin-gray: rgba(122, 145, 141, 1);
$cadet-gray: rgba(147, 177, 167, 1);
$eton-blue: rgba(153, 194, 162, 1);
$tea-green: rgba(197, 237, 172, 1);

$platinum: rgba(224, 224, 226, 1);
$pearl-aqua: rgba(129, 210, 199, 1);
$pastel-blue: rgba(181, 186, 208, 1);
$shadow-blue: rgba(115, 137, 174, 1);
$queen-blue: rgba(65, 103, 136, 1);

$tea-green: rgba(208, 239, 177, 1);
$granny-smith-apple: rgba(179, 216, 156, 1);
$cambridge-blue: rgba(157, 195, 194, 1);
$moonstone-blue: rgba(119, 166, 182, 1);
$blue-yonder: rgba(77, 114, 152, 1);

$rifle-green: rgba(65, 70, 61, 1);
$deep-violet: rgba(54, 5, 104, 1);
$dark-cerulean: rgba(8, 72, 135, 1);
$bright-lavender: rgba(157, 141, 241, 1);
$pale-cornflower-blue: rgba(184, 205, 248, 1);
$pale-robin-egg-blue: rgba(149, 242, 217, 1);
$medium-spring-green: rgba(28, 254, 186, 1);

